body{
    margin: 0;
    height: 100vh;
    background-color: lightgrey;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 36pt;
    color: red;
    font-family: sans-serif;
}

#jogo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.linha{
    display: flex;
    margin-top: 20px;
}

.item{
    margin: 0 10px 0;
    height: 150px;
    width: 150px;
    border: 5px dotted black;
    background-image: url("imgs/logo.png");
    background-size: cover;
}

.item:hover{
    border: 5px solid black;
}